<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidtutorialshub.loginregister">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="SchoolTribe"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SchoolRegistration.SRegistration" />
        <activity android:name=".SchoolRegistration.SLoginActivity" />
        <activity android:name=".userActivity.AddUserActivity" />
        <activity android:name=".activities.Home" />
        <activity android:name=".FacultyActivity.AddTeacher" />
        <activity android:name=".SchoolRegistration.ForgetPasswordActivity" />
        <activity android:name=".SchoolRegistration.ForgetIdActivity" />
        <activity android:name=".AddStudent.StudentAddActivity" />
        <activity android:name=".SchoolRegistration.NotificationActivity" />
        <activity android:name=".FacultyActivity.ViewFacultyActivity" />
        <activity android:name=".FacultyActivity.ViewDetailsActivity" />
    </application>

</manifest>